::ng-deep .p-dialog {
    &.p-dialog-maximized {
        .p-dialog-content {
            height: calc(100vh - 120px) !important;
        }
    }
}

.visualizar-container {
    width: 100%;
    height: 100%;
    
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}