<div class="container-fluid">
    <app-breadcrumb/>
    <p-panel header="Filtros de Pesquisa" [toggleable]="true" [collapsed]="true" class="mb-4">
        <form [formGroup]="form" (submit)="listar()" #f>
            <p-divider class="mt-1" />
            <div class="row mt-2">            
                <div class="col-2">
                    <label for="mes" class="mb-1">Mês:</label>
                    <p-select 
                        formControlName="mes" 
                        inputId="mes" 
                        [options]="mesOptions"
                        optionLabel="label" 
                        optionValue="value" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid 
                        required
                        />
                </div>
                <div class="col-2">
                    <label for="ano" class="mb-1">Ano:</label>
                    <p-select 
                        formControlName="ano" 
                        inputId="ano" 
                        [options]="anoOptions"
                        optionLabel="label" 
                        optionValue="value" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid 
                        required
                        />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <label for="credorId" class="mb-1">Credor:</label>
                    <p-select 
                        formControlName="credorId" 
                        inputId="credor" 
                        [options]="credorOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid           
                        />
                </div>
            </div>            
            <div class="row mt-2">
                <div class="col-4">
                    <label for="pagadorId" class="mb-1">Pagador:</label>
                    <p-select 
                        formControlName="pagadorId" 
                        inputId="pagador" 
                        [options]="pagadorOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid           
                        />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label for="statusDaConta" class="mb-1">Status da Conta:</label>
                    <p-select 
                        formControlName="statusDaConta" 
                        inputId="status" 
                        [options]="statusDaContaOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid
                        />
                </div>
            </div>
            <p-divider class="mt-3" />
            <div class="row mt-3">
                <div class="col-12 text-end mt-1">
                    <p-button 
                        icon="pi pi-times" 
                        label="Limpar" 
                        severity="secondary" 
                        class="me-2" 
                        text 
                        (click)="f.reset()"/>
                    <p-button 
                        icon="pi pi-search" 
                        [loading]="isLoading" 
                        [label]="isLoading ? 'Executando...': 'Pesquisar'" 
                        severity="success" 
                        [disabled]="form.invalid || isLoading"
                        type="submit"/>
                </div>
            </div>
        </form>        
    </p-panel>    
    <app-table-list
        [cols]="cols"
        [rows]="10"
        [entityList]="entityList()"
        [modalSize]="modalSize"
        [globalFilterFields]="['nomeFantasia', 'razaoSocial', 'cnpj']"
        [isLoading]="isLoading"
        [detailComponent]="detailComponent"
        (onListar)="listar()"
        (onExcluirVarios)="excluirVarios($event)"
        (onExcluir)="excluir($event)"
        [templates]="columnTemplates"
    />
    <!--Definição dos templates customizados nas colunas-->
    <ng-template #statusTemplate let-item>
        <span class="position-relative">
            <p-tag 
                [value]="item.status | statusDaConta" 
                [severity]="getStatusSeverity(item.status)" 
                [icon]="getStatusIcon(item.status)" 
                [pTooltip]="item.status === 1 ? 'Pago em ' + formatDate(item.dataDePagamento) : ''"
            />
            @if(item.status !== 1) {
                <p-badge 
                    severity="danger" 
                    class="position-absolute top-0 start-100 translate-middle" 
                    [value]="obterPrazoPorStatus(item, 1)" 
                    [pTooltip]="obterPrazoPorStatus(item, 2)" 
                />                                
            }
        </span>
    </ng-template>
    <ng-template #arquivoTemplate let-item>
        @if (item.arquivos.length > 0) {
            @if(item.arquivos.length < 2) {
                <p-button icon="pi pi-upload" severity="warn" class="mr-2" outlined (click)="openArquivoDialog(item.id)" pTooltip="Adicionar Arquivo" />
            } 
            @if(obterArquivo(item, 1)) {
                <p-button icon="pi pi-dollar" severity="info" class="mr-2" outlined (click)="visualizarArquivo(obterArquivo(item, 1)!)" pTooltip="Visualizar Boleto" />
            } 
            @if(obterArquivo(item, 2)) { 
                <p-button icon="pi pi-receipt" severity="help" class="mr-2" outlined (click)="visualizarArquivo(obterArquivo(item, 2)!)" pTooltip="Visualizar Comprovante" />
            } 
        } @else {
            <p-button icon="pi pi-upload" severity="warn" class="mr-2" outlined (click)="openArquivoDialog(item.id)" pTooltip="Adicionar Arquivo" />
            <!-- <p-button icon="pi pi-ban" severity="secondary" class="mr-2" outlined disabled pTooltip="Nenhum arquivo disponível" /> -->
        }    
    </ng-template>
</div>
<p-dialog 
    header="Visualizar Arquivo" 
    [visible]="exibirDialog" 
    [modal]="true" 
    [style]="{width: '90vw', height: '90vh'}" 
    [contentStyle]="{height: 'calc(100% - 60px)', overflow: 'hidden'}"
    [closable]="false"
    [maximizable]="true"
>
    @if (visualizacaoConfig?.isImagem) {
        <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; overflow: auto;">
            <img [src]="visualizacaoConfig?.urlArquivo" alt="Imagem do Arquivo" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
        </div>    
    } @else {
        <div style="width: 100%; height: 100%;">
            <iframe [src]="visualizacaoConfig?.urlArquivo! | safeUrl: 'resourceUrl'" style="width: 100%; height: 100%; border: none;"></iframe>
        </div>
    }
    <ng-template pTemplate="footer">
        <div class="col-12" style="text-align: right;">
            <p-button label="Baixar" icon="pi pi-download" severity="success" (click)="baixarArquivo(visualizacaoConfig?.arquivoSelecionado)" class="mr-2" ></p-button>
            <p-button label="Excluir" icon="pi pi-trash" severity="danger" (click)="excluirArquivo(visualizacaoConfig?.arquivoSelecionado)" class="mr-2" ></p-button>    
            <p-button label="Fechar" icon="pi pi-times" severity="secondary" (click)="exibirDialog = false"></p-button>
        </div>
    </ng-template>
</p-dialog>