<div class="container-fluid">
    <app-breadcrumb/>
    <p-panel header="Filtros de Pesquisa" [toggleable]="true" [collapsed]="true" class="mb-4">
        <form [formGroup]="form" (submit)="listar()" #f>
            <p-divider class="mt-1" />
            <div class="row mt-2">            
                <div class="col-2">
                    <label for="mes" class="mb-1">Mês:</label>
                    <p-select 
                        formControlName="mes" 
                        inputId="mes" 
                        [options]="mesOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid 
                        required
                        />
                </div>
                <div class="col-2">
                    <label for="ano" class="mb-1">Ano:</label>
                    <p-select 
                        formControlName="ano" 
                        inputId="ano" 
                        [options]="anoOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid 
                        required
                        />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <label for="credorId" class="mb-1">Credor:</label>
                    <p-select 
                        formControlName="credorId" 
                        inputId="credor" 
                        [options]="credorOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid           
                        />
                </div>
            </div>            
            <div class="row mt-2">
                <div class="col-4">
                    <label for="pagadorId" class="mb-1">Pagador:</label>
                    <p-select 
                        formControlName="pagadorId" 
                        inputId="pagador" 
                        [options]="pagadorOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid           
                        />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label for="statusDaConta" class="mb-1">Status da Conta:</label>
                    <p-select 
                        formControlName="statusDaConta" 
                        inputId="status" 
                        [options]="statusDaContaOptions"
                        optionLabel="value" 
                        optionValue="key" 
                        appendTo="body"
                        placeholder="Selecione..."
                        fluid
                        />
                </div>
            </div>
            <p-divider class="mt-3" />
            <div class="row mt-3">
                <div class="col-12 text-end mt-1">
                    <p-button 
                        icon="pi pi-times" 
                        label="Limpar" 
                        severity="secondary" 
                        class="me-2" 
                        text 
                        (click)="f.reset()"/>
                    <p-button 
                        icon="pi pi-search" 
                        [loading]="isLoading" 
                        [label]="isLoading ? 'Executando...': 'Pesquisar'" 
                        severity="success" 
                        [disabled]="form.invalid || isLoading"
                        type="submit"/>
                </div>
            </div>
        </form>        
    </p-panel>    
    <p-table        
        #dt
        [value]="entityList()"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['nome']"
        [(selection)]="itensSelecionados"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="{first} até {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        size="small"
        [loading]="isLoading"
        [loadingIcon]="'pi pi-spinner pi-spin'"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <div class="m-0">
                    <p-button pTooltip="Novo registro" icon="pi pi-plus" (click)="openDialog()" class="mr-2"></p-button>
                    <p-button pTooltip="Excluir itens selcionados" severity="danger" icon="pi pi-trash" (click)="excluirVarios()" [disabled]="!itensSelecionados || !itensSelecionados.length" />        
                </div>
                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header >
            <tr>
                <th style="width: 3rem; background-color: #f8f9fa">
                    <p-tableHeaderCheckbox />
                </th>
                <th style="min-width: 2rem; background-color: #f8f9fa">Código</th>
                <th style="min-width:5rem; background-color: #f8f9fa">
                    Período
                </th>
                <th pSortableColumn="credor" style="min-width:10rem; background-color: #f8f9fa">
                    Credor
                    <p-sortIcon field="credor" />
                </th>
                <th pSortableColumn="dataDeVencimento" style="min-width: 8rem; background-color: #f8f9fa">
                    Data de Vencimento
                    <p-sortIcon field="dataDeVencimento" />
                </th>
                <th pSortableColumn="valor" style="min-width: 5rem; background-color: #f8f9fa">
                    Valor
                    <p-sortIcon field="valor" />
                </th>
                <th pSortableColumn="status" style="min-width: 5rem; background-color: #f8f9fa">
                    Status
                    <p-sortIcon field="status" />
                </th>
                <th pSortableColumn="dataDeAtualizacao" style="min-width: 8rem; background-color: #f8f9fa">
                    Data de Atualização
                    <p-sortIcon field="dataDeAtualizacao" />
                </th>
                <th style="min-width: 3rem; background-color: #f8f9fa"></th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="item" />
                </td>
                <td style="min-width: 2rem">{{ item.id }}</td>
                <td style="min-width: 5rem">{{ item.mes | mes }} de {{ item.ano }}</td>
                <td style="min-width: 10rem">{{ item.credor.nomeFantasia }}</td>
                <td style="min-width: 8rem">{{ item.dataDeVencimento | date: 'dd/MM/yyyy' }}</td>
                <td style="min-width: 5rem">{{ item.valor | currency: 'BRL' }}</td>
                <td style="min-width: 8rem"><p-tag [severity]="getStatusSeverity(item.status)">{{ item.status | statusDaConta }}</p-tag></td>
                <td style="min-width: 8rem">{{ item.dataDeAtualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" variant="text" (click)="openDialog(item)" pTooltip="Editar" />
                    <p-button icon="pi pi-trash" severity="danger" variant="text" (click)="excluir(item)" pTooltip="Excluir" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
