<div class="container-fluid">
    <app-breadcrumb/>
    <p-panel header="Filtros de Pesquisa" [toggleable]="true" [collapsed]="true" class="mb-4">
        <form [formGroup]="form" (submit)="listar()" #f>
            <p-divider class="mt-1" />
            <div class="row mt-2">
                <div class="col-4">
                    <label for="nome" class="mb-1">Nome:</label>
                    <input 
                        id="nome" 
                        formControlName="nome" 
                        pInputText 
                        fluid />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label for="cpf" class="mb-1">CPF:</label>
                    <input 
                        id="cpf" 
                        formControlName="cpf" 
                        pInputText 
                        mask="000.000.000-00" 
                        [showMaskTyped]="true" 
                        [dropSpecialCharacters]="true"
                        [validation]="true"
                        fluid />
                        @if (form.get('cpf')?.errors?.['invalidCpf']) {
                            <p-message severity="error" size="small" variant="simple">O CPF deve seguir o formato válido.</p-message>
                        }    
                </div>
            </div>
            <p-divider class="mt-3" />
            <div class="row mt-3">
                <div class="col-12 text-end mt-1">
                    <p-button 
                        icon="pi pi-times" 
                        label="Limpar" 
                        severity="secondary" 
                        class="me-2" 
                        text 
                        (click)="f.reset()"/>
                    <p-button 
                        icon="pi pi-search" 
                        [loading]="isLoading" 
                        [label]="isLoading ? 'Executando...': 'Pesquisar'" 
                        severity="success" 
                        type="submit"
                        [disabled]="form.invalid || isLoading"
                        />
                </div>
            </div>
        </form>        
    </p-panel>    
    <app-table-list
        [cols]="columns"
        [rows]="10"
        [entityList]="entityList()"
        [modalSize]="modalSize"
        [globalFilterFields]="['nomeFantasia', 'razaoSocial', 'cnpj']"
        [isLoading]="isLoading"
        [detailComponent]="detailComponent"
        (onListar)="listar()"
        (onExcluirVarios)="excluirVarios($event)"
        (onExcluir)="excluir($event)"
    />
</div>